body {
    background-color: rgb(31, 93, 93);
    margin: 0;
    padding: 0;
}

.doard{
    width: 100%;
    flex-direction: row;
    display: flex;
}

.column {
    width: 100%;
    background-color: rgb(31, 93, 93);
    padding: 10px;
    border-radius: 0px;
    color: rgb(239, 239, 239);
    border-width: 5px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;

}

.card {
    background-color: rgb(51, 56, 53);
    border-radius: 5px;
    padding: 10px;
}