body {
    background-color: rgb(224, 224, 224);
    margin: 0;
    padding: 0;
}

.all {}

.board {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.column {
    width: 100%;
    background-color: aqua;
    padding: 10px;
    border-radius: 0px;
    color: rgb(244, 0, 248);
    border-width: 5px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;

}

.card {
    width: 400px;
    background-color: blue;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aqua;
    text-align: center;

}