body {
    background-color: rgb(224, 224, 224);
    margin: 0;
    padding: 0;
}

.all {}

.board {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.column {
    width: 100%;
    background-color: aqua;
    padding: 10px;
    border-radius: 0px;
    color: rgb(244, 0, 248);
    border-width: 5px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;

}
.column h2{
    background-color: blue;
    padding: 5px;
    border-radius: 10px;
}
form {
    width: 400px;
    background-color: blue;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aqua;
    text-align: center;
    gap: 10px;
    padding: 10px;
}

input,
button {
    display: flex;
    background-color: blue;
    color: rgb(4, 255, 0);
    border-radius: 6px;
    border: 2px solid rgb(255, 127, 127);
    
    
}

input::placeholder {
    color: rgb(4, 255, 0);
}

.card {
    margin-top: 40px;
    width: 400px;
    background-color: blue;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aqua;
    text-align: center;
}

input[type="checkbox"] {
    accent-color: #C56FFF;

}