body {
    background-color: aqua;
    margin: 0;
    padding: 0;
}

.all {}

.board {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.column {
    width: 100%;
    background-color: aqua;
    padding: 10px;
    border-radius: 0px;
    color: rgb(244, 0, 248);
    border-width: 5px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;

}

.column h2 {
    background-color: blue;
    padding: 5px;
    border-radius: 10px;
}

form {
    width: 400px;
    background-color: blue;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aqua;
    text-align: center;
    gap: 10px;
    padding: 10px;
}

input,
button {
    display: flex;
    background-color: blue;
    color: rgb(4, 255, 0);
    border-radius: 6px;
    border: 2px solid rgb(255, 127, 127);


}

input:active {
    color: #000;
}

input::placeholder {
    color: rgb(51, 255, 0);
}

.card {
    margin-top: 10px;
    width: 400px;
    /* background-color: blue;*/
    background: radial-gradient(circle, #ffcc00, #ff0066);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 55, 0);
    text-align: center;
    padding: 10px;
}

.card h3 {
    margin-bottom: 0;
}

input[type="checkbox"] {
    accent-color: #33ff00;

}

li,
input[type="checkbox"] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

p 
{
    color: rgb(255, 0, 0);
    margin-top: 8px;
    text-decoration: overline;
}