body {
   background-color: rgb(224, 224, 224); 
}

.all {
    width: 100%;
    
}

.board {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
}

.column {
    background-color: aqua;
    padding: 10px;
    border-radius: 0px;
    color: rgb(244, 0, 248);
}

.card {
    background-color: blue;
    border-radius: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aqua;
}