body {
    background-color: rgb(31, 93, 93);
    margin: 0;
    padding: 0;
}

.doard {
    width: 100%;
    flex-direction: row;
    display: flex;
}

.column {
    width: 100%;
    background-color: rgb(31, 93, 93);
    padding: 10px;
    border-radius: 0px;
    color: rgb(239, 239, 239);
    border-width: 5px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;

}

.card {
    background-color: rgb(51, 56, 53);
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    margin-top: 20px;
}

form {
    width: 90%;
    background-color: rgb(51, 56, 53);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
    padding: 10px;
}

input,
button {
    font-size: 16px;
    display: flex;
    background-color: rgb(51, 56, 53);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    border: 2px solid rgb(255, 127, 127);
    resize: none;
    height: 30px;
    align-items: center;
    text-align: center;

}

textarea {
    height: 150px;
    width: 280px;
    display: flex;
    background-color: rgb(51, 56, 53);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    border: 2px solid rgb(255, 127, 127);
    resize: none;
    font-size: 16px;
}

p {
    margin: 5px;
}

h2 {
    margin-bottom: 20px;
    text-decoration:overline;
}

input::placeholder {
    color: rgb(204, 204, 204);
}

h3 {
    margin: 5px;
    color: rgb(144, 255, 255)
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button {
    gap: 5px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    margin: 0;
    color: rgb(58, 201, 223);
}
h1 p{
    font-size: 18px;
    margin: 0;
}