<!doctype html>
<html lang="ru">

<head>
   <meta charset="UTF-8">
   <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script defer src="js/vue.js"></script>
   <script defer src="js/main.js"></script>
   <link rel="stylesheet" href="css/main.css">
   <title>Product App</title>
</head>

<body>
   <div id="app" class="all">
      <div class="board">

         <div class="column" v-for="column in columns" :key="column.columnId">
            <h2>{{column.columnTitle}}</h2>
            <form v-if="column.columnId === 1" @submit.prevent="addCard">
               <input v-model="newCard.newTitle" placeholder="Заголовок карточки" required>
               <div v-for="(item, index) in newCard.newItems" :key="index">
                  <input v-model="newCard.newItems[index]" :placeholder="'Задача ' + (index + 1)" required>
               </div>
               <button type="button" v-if="newCard.newItems.length < 5" @click="addTaskField">
                  + Задача
               </button>
               <button type="button" v-if="newCard.newItems.length > 3" @click="removeTaskField">
                  – Убрать
               </button>

               <button type="submit" :disable="isFirstColumnBlocked">
                  {{ isFirstColumnBlocked ? 'COLUMN BLOCKED!' : 'Создать карточку' }}</button>
               <p v-if="formError">
                  {{ formError }}
               </p>
            </form>
            <div v-for="card in column.columnCards" :key="card.id" class="card">
               <h3>{{ card.title }}</h3>
               <ul>
                  <li v-for="(task, idx) in card.items" :key="idx">
                     <input type="checkbox" :checked="task.done" @change="handleTaskToggle(card, task, column)"
                        :disabled="isFirstColumnBlocked && column.columnId === 1">
                     {{ task.text }}
                  </li>
               </ul>
               <p v-if="card.completedAt">
                  done: {{ card.completedAt }}
               </p>
            </div>
         </div>
         <div class="task">
            not done yet: {{ totalIncompleteTasks }}
         </div>
      </div>
   </div>

   <!--
git add . 
git commit -m "feat: 4 dop task"  
git push
-->
   <!-- На 4: добавить свойство, которое в реальном времени отражает 
      суммарное количество невыполненных задач
-->
</body>

</html>