<!doctype html>
<html lang="ru">

<head>
   <meta charset="UTF-8">
   <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script defer src="js/vue.js"></script>
   <script defer src="js/main.js"></script>
   <link rel="stylesheet" href="css/main.css">
   <title>Kanban Task Board</title>
</head>

<body>
   <div id="app" class="all">
      <div id="doard" class="doard">
         <div class="column" v-for="column in columns" :key="column.id">
            <h2>{{ column.title }}</h2>
            <form v-if="column.id === 1" @submit.prevent="createCard">
               <input v-model="newCard.title" placeholder="Заголовок задачи" required><br><br>

               <textarea v-model="newCard.description" placeholder="Описание задачи" required></textarea><br><br>

               <label>Дедлайн:</label>
               <input type="date" v-model="newCard.deadline" required><br><br>

               <button type="submit">Создать задачу</button>
            </form>
            <div class="card" v-for="card in column.cards" :key="card.id">
               <p><strong>Создана:</strong> {{ card.createdAt }}</p>
               <h3>{{ card.title }}</h3>
               <p>{{ card.description }}</p>
               <p><strong>Дедлайн:</strong> {{ card.deadline }}</p>
            </div>
         </div>
      </div>
   </div>

   <!--
git add . 
git commit -m "feat: u can crete card now"  
git push
-->
   <!--Ваша задача реализовать Kanban доски (Trello, Yougile).
Доска состоит из четырех столбцов: “Запланированные задачи”, 
“Задачи в работе”, “Тестирование”, “Выполненные задачи”. 
Должна быть возможность создать только в первом столбце карточку задачи.
Карточка должна содержать: дату создания, заголовок, описание задачи, дэдлайн.
Функционал первого столбца.Должна быть возможность создания,
 удаления и редактирования карточки с сохранением временного штампа последнего времени редактирования.
Должна быть возможность перемещать карточку во второй столбец (“В работе”).
Функционал второго столбца.Должна быть возможность 
редактирования карточки с сохранением временного штампа последнего времени редактирования.
Должна быть возможность перемещать карточку в третий столбец (“Тестирование”).
Функционал третьего столбца.Должна быть возможность редактирования 
карточки с сохранением временного штампа последнего времени редактирования.
Должна быть возможность перемещать карточку в четвертый столбец (“Выполненные задачи”),
 либо вернуть карточку во второй столбец (указывается причина возврата).
Функционал четвертого столбца.Когда карточка переходит в этот столбец,
 то проверяется срок дэдлайна. Если срок превышен, то карточка отмечается, 
 как просроченная в противном случае отмечается выполненной в срок.
Дизайн интерфейса остается на усмотрение разработчика,
 но должен быть эстетичен и понятен для пользователя.
Приложение должно быть разделено на компоненты. 
Сами компоненты должны быть достаточно абстрактным 
для повторного использования (по возможности).

-->
</body>

</html>